{% extends 'base.html' %}
{% block main %}
<h1>UNDER CONSTRUCTION</h1>
<h3>Mar 15, 2012</h3>
<table id="pi">
  <tr>
    <td id="pi00"></td>
    <td id="pi01"></td>
    <td id="pi02"></td>
    <td id="pi03"></td>
    <td id="pi04"></td>
    <td id="pi05"></td>
  </tr>
  <tr>
    <td id="pi10"></td>
    <td id="pi11"></td>
    <td id="pi12"></td>
    <td id="pi13"></td>
    <td id="pi14"></td>
    <td id="pi15"></td>
  </tr>
  <tr>
    <td id="pi20"></td>
    <td id="pi21"></td>
    <td id="pi22"></td>
    <td id="pi23"></td>
    <td id="pi24"></td>
    <td id="pi25"></td>
  </tr>
  <tr>
    <td id="pi30"></td>
    <td id="pi31"></td>
    <td id="pi32"></td>
    <td id="pi33"></td>
    <td id="pi34"></td>
    <td id="pi35"></td>
  </tr>
  <tr>
    <td id="pi40"></td>
    <td id="pi41"></td>
    <td id="pi42"></td>
    <td id="pi43"></td>
    <td id="pi44"></td>
    <td id="pi45"></td>
  </tr>
  <tr>
    <td id="pi50"></td>
    <td id="pi51"></td>
    <td id="pi52"></td>
    <td id="pi53"></td>
    <td id="pi54"></td>
    <td id="pi55"></td>
  </tr>
</tr>
{% endblock %}
