{% extends 'base.j2' %}
{% block title %}5 years with the princess{% endblock %}
{% block additional_links %}
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
{% endblock %}
{% block additional_style %}
  <style>
    body {
      font-family: 'Press Start 2P', cursive;
    }
    #anniversary {
      width: 800px;
      margin: auto;
    }
    #counter {
      margin-top: 50px;
      text-align: center;
    }
    #counter div {
      float: left;
      font-size: 36px;
    }
    #counter div:not(:last-child):after {
      content: '.';
    }
    #animation {
      text-align: center;
    }
    #lyrics {
      text-align: center;
    }
  </style>
{% endblock %}
{% block page %}
  <div id="anniversary" class="clearfix">
    <div id="counter" class="clearfix">
      <div id="year">5</div>
      <div id="day">5</div>
      <div id="hour">5</div>
      <div id="minute">5</div>
      <div id="second">5</div>
      <div id="milisecond">5</div>
    </div>
    <div id="animation">
      <img src="/media/images/us.gif" width="400px" height="400px"/>
    </div>
    <div id="lyrics">
    </div>
  </div>
  <audio autoplay loop preload="auto" id="wol">
    <source src="/media/snd/wol.ogg" type="audio/ogg"></source>
    <source src="/media/snd/wol.wav"></source>
  </audio>
{% endblock %}
{% block additional_scripts %}
<script>
  var eAudio = document.id('wol');
  var eLyrics = document.id('lyrics');
  var lyrics = {
    '15': 'Hold me close and tell me how you feel',
    '22': 'Tell me love is real',
    '31': 'Words of love you whisper soft and true',
    '38': 'Darling I love you',
    '79': 'Let me hear you say the words I long to hear',
    '86': 'Darling when youre near',
    '94': 'Words of love you whisper soft and true',
    '101': 'Darling I love you',
    '113': ''
  };
  eAudio.addEventListener('timeupdate', function () {
      var current = lyrics[Math.floor(this.currentTime)];
      if (typeof(current) !== 'undefined') {
        eLyrics.set('text', lyrics[Math.floor(this.currentTime)]);
      }
  });
  var eYear = document.id('year');
  var eDay = document.id('day');
  var eHour = document.id('hour');
  var eMinute = document.id('minute');
  var eSecond = document.id('second');
  var eMilisecond = document.id('milisecond');
  setInterval(function () {
      var beginningOfTime = new Date(2007, 4, 7);
      var now = new Date();
      var diffYear = beginningOfTime.diff(now, 'year');
      var plusDiffYear = beginningOfTime.clone().increment('year', diffYear);
      var diffDay = plusDiffYear.diff(now, 'day');
      var hour = now.get('hours');
      var minute = now.get('minutes');
      var second = now.get('seconds');
      var milisecond = now.get('ms');

      eYear.set('text', new String(diffYear).pad(3, '0', 'left'));
      eDay.set('text', new String(diffDay).pad(3, '0', 'left'));
      eHour.set('text', new String(hour).pad(2, '0', 'left'));
      eMinute.set('text', new String(minute).pad(2, '0', 'left'));
      eSecond.set('text', new String(second).pad(2, '0', 'left'));
      eMilisecond.set('text', new String(milisecond).pad(3, '0', 'left'));
  }, 1);

</script>
{% endblock %}
